.blank {
  display: grid;
  padding-left: 20px;
  padding-right: 20px;

  @media #{$not-mobile} {
    padding-left: 70px;
    padding-right: 70px;
  }

  @media #{$desktop-only} {
    padding-left: 110px;
    padding-right: 110px;
  }

  &--cat-info {
    width: 100%;
    gap: 15px;
    padding-bottom: 24px;

    @media #{$not-mobile} {
      gap: 21px;
      padding-bottom: 7px;
    }

    @media #{$desktop-only} {
      padding: 0;
    }
  }

  &--purpose {
    padding-top: 22px;
    padding-bottom: 18px;
    border-top: 1px solid $line-grey;
    border-bottom: 1px solid $line-grey;

    --blank-item-m-bottom: 13px;

    @media #{$not-mobile} {
      border: 1px solid $line-input;
      padding: 23px 26px 26px;
    }

    @media #{$desktop-only} {
      padding: 25px 28px 24px;
    }
  }

  &--owner {
    gap: 15px;
    padding-top: 26px;
    padding-bottom: 24px;

    --blank-title-m-bottom: 20px;

    @media #{$not-mobile} {
      gap: 21px;
      padding-top: 0;
      padding-bottom: 0;

      --blank-title-m-bottom: 55px;
    }

    @media #{$desktop-only} {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 80px;

      --blank-title-grid-column: 1 / -1;
      --blank-row-m-bottom: 0;
    }
  }

  &--review {
    padding-bottom: 23px;

    --blank-title-m-bottom: 38px;

    @media #{$not-mobile} {
      padding-bottom: 0;

      --blank-title-m-bottom: 87px;
    }

    @media #{$desktop-only} {
      --blank-title-m-bottom: 78px;
    }
  }

  &--more {
    --blank-title-m-bottom: 34px;

    @media #{$not-mobile} {
      margin-bottom: 0;

      --blank-title-m-bottom: 57px;
    }
  }
}


.blank__title {
  grid-column: var(--blank-title-grid-column);
  margin: 0;
  margin-bottom: var(--blank-title-m-bottom);
  padding: 0;
  font-size: 24px;
  line-height: 26px;

  @media #{$not-mobile} {
    font-size: 36px;
    line-height: 36px;

    br {
      display: none;
    }
  }
}

.blank__row {
  position: relative;
  display: flex;
  gap: 13px;
  margin-bottom: var(--blank-row-m-bottom);
  text-transform: uppercase;

  @media #{$not-mobile} {
    font-size: 20px;
    line-height: 30px;
  }

  &:has(.blank__icon) {
    --blank-input-p-right: 40px;
  }
}

.blank__icon {
  position: absolute;
  top: 13px;
  right: 13px;
  display: block;
  align-self: flex-end;
  width: 20px;
  height: 20px;
  mask-image: var(--blank-icon-url);
  background-color: #222222;

  @media #{$not-mobile} {
    top: 16px;
    right: 14px;
  }

  @media #{$desktop-only} {
    right: 16px;
  }

  &--email {
    --blank-icon-url: url("../../images/icons/stack.svg#mail-icon");
  }

  &--tel {
    --blank-icon-url: url("../../images/icons/stack.svg#tel-icon");
  }
}

.blank__label {
  align-self: center;
  max-width: 50%;
}

.blank__input {
  flex-grow: 1;
  padding-right: var(--blank-input-p-right);

  &:focus-visible + .blank__icon {
    background-color: #{$accent-color};
  }

  &:invalid {
    --blank-icon-color: #{$invalid-color};
  }
}

.blank__list {
  display: flex;
  flex-direction: column;
  gap: 13px;

  &--checkbox {
    @media #{$not-mobile} {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
      gap: 32px 60px;
    }

    @media #{$desktop-only} {
      grid-template-columns: repeat(auto-fit, minmax(245px, 1fr));
      column-gap: 80px;
    }
  }
}


.blank__textarea {
  width: 100%;
  min-height: 150px;
  padding: 14px 15px;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  text-transform: uppercase;
  border-radius: 0;
  border: 1px solid $line-input;
  resize: none;

  @media #{$not-mobile} {
    min-height: 175px;
    padding: 11px 20px;
    font-size: 20px;
    line-height: 30px;
  }

  @media #{$desktop-only} {
    padding: 9px 20px;
  }

  &:hover {
    border-color: $line-dark-grey;
  }

  &:focus {
    outline: 2px solid $basic-text-color;
    outline-offset: -2px;
    border: 0;
  }

  &:disabled {
    opacity: 0.7;
  }
}
