.blank__row {
  display: block;
  text-transform: uppercase;
}

.blank__title {
  font-size: 24px;
  line-height: 26px;
}

.blank__textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  text-transform: uppercase;
}
