.button-burger {
  width: 24px;
  height: 24px;
  background-image: url("../../images/icons/stack.svg#burger-icon");
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
  border: none;

  &--close {
    width: 18px;
    height: 18px;
    background-image: url("../../images/icons/stack.svg#close-icon");
  }
}
