.contacts {
  @media #{$desktop-only} {
    position: relative;
  }
}

.contacts__wrapper {
  @media #{$desktop-only} {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    max-width: $breakpoint-max-w;
    margin: 0 auto;
    padding: 95px 110px;
    z-index: 1;
  }
}

.contacts__content {
  display: flex;
  justify-content: space-between;
  background-color: $basic-white;
  padding: 26px 20px;

  @media #{$not-mobile} {
    padding: 61px 70px;
  }

  @media #{$desktop-only} {
    width: 565px;
    max-height: 120%;
    padding: 61px 70px 60px 80px;
  }

  &--grey {
    background-color: $basic-grey;

    @media #{$desktop-only} {
      background-color: $basic-white;
    }
  }
}

.contacts__slogan {
  max-width: 140px;
  margin: 0;
  padding-right: 10px;
  font-size: 16px;
  line-height: 20px;
  color: $text-grey;
  text-transform: uppercase;

  @media #{$not-mobile} {
    max-width: 170px;
    font-size: 20px;
    line-height: 26px;
  }

  @media #{$desktop-only} {
    overflow: hidden;
  }
}

.contacts__address {
  max-width: 140px;
  width: 100%;
  line-height: 20px;
  font-style: normal;

  @media #{$not-mobile} {
    max-width: 170px;
    font-size: 16px;
  }

  @media #{$desktop-only} {
    max-width: 165px;
    overflow: hidden;
  }
}

.contacts__city {
  @media #{$not-mobile} {
    max-width: 170px;
    display: inline-block;
    margin-top: 18px;
  }
}

.contacts__map {
  position: relative;
  width: 100%;
  max-height: 362px;
  height: 100%;
  background-image:
    image-set(
      url("../../images/map-phone@1x.png") type("image/png") 1x,
      url("../../images/map-phone@2x.png") type("image/png") 2x
    );
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @media #{$not-mobile} {
    max-height: 400px;
    background-image:
      image-set(
        url("../../images/map-tablet@1x.png") type("image/png") 1x,
        url("../../images/map-tablet@2x.png") type("image/png") 2x
    );
  }

  @media #{$desktop-only} {
    background-image:
      image-set(
      url("../../images/map-desktop@1x.png") type("image/png") 1x,
      url("../../images/map-desktop@2x.png") type("image/png") 2x
    );
    background-position: center 0;
  }
}
