.control {
  display: flex;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  text-transform: uppercase;

  --mark-border-color: #{$line-dark-grey};

  @media #{$not-mobile} {
    font-size: 20px;
    line-height: 30px;
  }

  &:hover {
    --mark-border-color: #bababa;
  }
}

.control__input {
  &:disabled ~ .control__label,
  &:disabled + .control__mark {
    opacity: 0.3;
    --mark-border-color: #bababa;
  }

  &:focus-visible + .control__mark {
    border-color: $accent-color;
  }

  &[type="radio"]:checked + .control__mark--radio::before {
    content: "";
    display: block;
    width: var(--mark-radio-w);
    height: var(--mark-radio-w);
    margin: auto;
    border-radius: 50%;
    background-color: $accent-color;
  }

  &[type="checkbox"]:checked + .control__mark--checkbox::before {
    content: "";
    display: block;
    width: 26px;
    height: 26px;
    margin: auto;
    padding: 0;
    background-image: url("../../images/icons/stack.svg#tick-icon");
    background-size: 100%;
  }
}

.control__mark {
  display: flex;
  flex-shrink: 0;
  width: 30px;
  height: 30px;
  margin-right: 15px;
  border: 1px solid var(--mark-border-color);

  --mark-radio-w: 13px;

  &--radio {
    border-radius: 50%;
  }

  @media #{$not-mobile} {
    width: 40px;
    height: 40px;
    margin-right: 20px;

    --mark-radio-w: 18px;
  }
}

.control__label {
  align-self: center;
}
