.hero {
  position: relative;
  color: $basic-white;
  text-align: center;

  --hero-wrap-min-h: 480px;
  --hero-wrap-p: 27px 20px 0;
  --hero-title-m-bottom: 25px;
  --hero-title-size: 36px;
  --hero-title-lh: 36px;
  --hero-title-color: #{$basic-white};
  --hero-slogan-m-bottom: auto;
  --hero-slogan-size: 14px;
  --hero-slogan-lh: 14px;
  --hero-img-left: 0;
  --hero-img-wrap-w: 100%;
  --hero-img-translate: 0;

  @media #{$not-mobile} {
    color: $basic-blank;
    text-align: left;

    --hero-wrap-min-h: 875px;
    --hero-wrap-p: 65px 120px 0;
    --hero-title-m-bottom: 40px;
    --hero-title-size: 60px;
    --hero-title-lh: 60px;
    --hero-title-color: #{$basic-blank};
    --hero-slogan-m-bottom: 50px;
    --hero-slogan-size: 20px;
    --hero-slogan-lh: 20px;
    --hero-img-pos: absolute;
    --hero-img-max-h: 609px;
    --hero-button-w: max-content;
  }

  @media #{$desktop-only} {
    --hero-wrap-w: 50%;
    --hero-wrap-min-h: 580px;
    --hero-wrap-p: 110px 40px 110px 190px;
    --hero-img-left: 50%;
    --hero-img-wrap-w: 552px;
    --hero-img-translate: -30%;
  }
}

.hero__wrapper {
  display: flex;
  flex-direction: column;
  min-height: var(--hero-wrap-min-h);
  width: var(--hero-wrap-w);
  padding: var(--hero-wrap-p);
}

.hero__title {
  margin-bottom: var(--hero-title-m-bottom);
  font-size: var(--hero-title-size);
  line-height: var(--hero-title-lh);
  color: var(--hero-title-color);
}

.hero__slogan {
  margin: 0;
  margin-bottom: var(--hero-slogan-m-bottom);
  font-family: $secondary-font;
  font-size: var(--hero-slogan-size);
  line-height: var(--hero-slogan-lh);
  text-transform: uppercase;
}

.hero__image-wrap {
  position: var(--hero-img-pos);
  bottom: 0;
  left: var(--hero-img-left);
  width: var(--hero-img-wrap-w);
  translate: var(--hero-img-translate);
  order: var(--hero-img-order);
  z-index: -1;
}

.hero__image {
  height: var(--hero-img-max-h);
  margin: 0 auto;
}

.hero__button {
  width: var(--hero-button-w);
  margin-top: 3px;

  @media #{$not-mobile} {
    padding: 14px 26px;
    font-size: 20px;
    line-height: 26px;
  }
}
