.instruction__wrapper {
  padding: 0 20px;

  @media #{$not-mobile} {
    padding: 0 30px;
  }

  @media #{$desktop-only} {
    max-width: $breakpoint-max-w;
    margin-left: auto;
    margin-right: auto;
    padding: 0 110px;
  }
}

.instruction__title {
  margin: 0;
  margin-bottom: 40px;
  font-size: 36px;
  line-height: 40px;
}

.instruction__list {
  display: grid;
  gap: 20px;

  @media #{$not-mobile} {
    grid-template-columns: 1fr 1fr;
    column-gap: 137px;
    row-gap: 37px;
    padding-right: 79px;
  }

  @media #{$desktop-only} {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 79px;
    padding-right: 0;
  }
}

.instruction__item {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 20px;

  --instruction-square-w: 60px;

  @media #{$not-mobile} {
    grid-template-rows: auto 1fr;
    column-gap: 31px;
    row-gap: 31px;
    min-height: 280px;
    min-width: 246px;
    counter-increment: instruction__list;

    --instruction-square-w: 80px;
  }

  &--nutrients {
    --instruction-bg-url: url("../../images/icons/stack.svg#leaf-icon");
    --instruction-bg-size: 25px 28px;
  }

  &--powder {
    --instruction-bg-url: url("../../images/icons/stack.svg#glass-icon");
    --instruction-bg-size: 27px 29px;
  }

  &--subtitute {
    --instruction-bg-url: url("../../images/icons/stack.svg#tableware-icon");
    --instruction-bg-size: 26px 30px;
  }

  &--pleasure {
    --instruction-bg-url: url("../../images/icons/stack.svg#clock-icon");
    --instruction-bg-size: 27px 31px;
  }

  &::after {
    content: "";
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    width: var(--instruction-square-w);
    height: var(--instruction-square-w);
    background-image: var(--instruction-bg-url);
    background-color: $accent-color;
    background-size: var(--instruction-bg-size);
    background-repeat: no-repeat;
    background-position: center;
  }

  &::before {
    content: counter(instruction__list);
    display: block;
    font-family: $secondary-font;
    font-size: 280px;
    line-height: 280px;
    color: $basic-grey;
    grid-column: 2 / 3;
    grid-row: 1 / -1;
  }
}

.instruction__text {
  margin: 0;
  margin-top: 2px;

  @media #{$not-mobile} {
    grid-row: 2 / 3;
    grid-column: 1 / 3;
    font-size: 16px;
    line-height: 24px;
  }
}
