.logo {
  display: flex;
  align-items: center;

  &:hover,
  &:focus-visible {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.logo__image {
  &--pic {
    margin-right: 56px;

    @media #{$not-mobile} {
      margin-right: 13px;
    }
  }

  &--text {
    @media #{$desktop-only} {
      width: 118px;
      height: 21px;
    }
  }
}
