.main-nav {
  position: absolute;
  width: 100%;
  z-index: 1;
  background-color: #ffffff;

  --burger-button-img: url("../../images/icons/stack.svg#close-icon");
  --burger-button-sz: 18px 18px;
  --nav-toggle-display: block;
  --nav-list-direction: column;
  --nav-display: block;
  --nav-link-p: 22px 20px 24px;
  --nav-link-sz: 20px;
  --nav-link-lh: 20px;
  --nav-link-color: #{$basic-blank};

  &--cat {
    @media #{$desktop-only} {
      --nav-link-color: #{$basic-white};
    }
  }

  &--closed {
    --nav-display: none;
    --burger-button-img: url("../../images/icons/stack.svg#burger-icon");
    --burger-button-sz: 24px 24px;
  }

  @media #{$not-mobile} {
    position: relative;
    width: 70%;
    z-index: 0;

    --nav-toggle-display: none;
    --nav-display: flex;
    --nav-list-direction: row;
    --nav-link-p: 13px 16.5px;
    --nav-link-sz: 18px;
    --nav-link-lh: 24px;
  }

  @media #{$desktop-only} {
    width: 48%;
    background-color: transparent;

    --nav-link-p: 14.5px 16.5px;
    --nav-link-sz: 20px;
    --nav-link-lh: 30px;
  }
}

.main-nav__toggle {
  position: absolute;
  right: 20px;
  top: -53px;
  display: var(--nav-toggle-display);
  width: 38px;
  height: 38px;
  padding: 0;
  background-image: var(--burger-button-img);
  background-size: var(--burger-button-sz);
  background-position: center right;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
}

.main-nav__wrapper {
  display: var(--nav-display);
  justify-content: flex-end;
}

.main-nav__list {
  display: flex;
  justify-content: end;
  flex-wrap: wrap;
  flex-direction: var(--nav-list-direction);
}

.main-nav__item {
  text-align: center;
}

.main-nav__link {
  display: block;
  padding: var(--nav-link-p);
  font-family: $secondary-font;
  font-size: var(--nav-link-sz);
  line-height: var(--nav-link-lh);
  text-transform: uppercase;
  color: var(--nav-link-color);

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.7;
  }
}
