.main-header {
  background-color: #ffffff;

  --header-wrap-p: 13px 20px 15px;
  --header-logo-text-pos: absolute;
  --bg-cat-top: 65px;
  --bg-cat-display: block;
  --bg-cat-w: 100%;
  --bg-cat-h: 302px;
  --bg-cat-z-index: -1;

  @media #{$not-mobile} {
    display: flex;
    justify-content: space-between;

    --header-wrap-p: 0;
    --header-logo-text-pos: static;
  }

  @media #{$tablet-only} {
    --bg-cat-display: none;
  }

  @media #{$desktop-only} {
    background-color: transparent;

    --bg-cat-top: 0;
    --bg-cat-w: 50%;
    --bg-cat-h: 694px;
    --bg-cat-z-index: -1;
  }

  &--cat {
    &::after {
      content: "";
      position: absolute;
      top: var(--bg-cat-top);
      right: 0;
      display: var(--bg-cat-display);
      width: var(--bg-cat-w);
      height: var(--bg-cat-h);
      background-image:
        linear-gradient(rgba(104, 183, 56, 0.85) 0%, rgba(104, 183, 56, 0.85) 100%),
        image-set(
          url("/images/index-background-phone@1x.jpg") type("image/jpeg") 1x,
          url("/images/index-background-phone@2x.jpg") type("image/jpeg") 2x
      );
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      z-index: var(--bg-cat-z-index);
    }
  }
}

.main-header__wrapper {
  position: relative;
  padding: var(--header-wrap-p);
}

.main-header__logo-text {
  position: var(--header-logo-text-pos);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}

.main-header__image {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  width: 100%;
  margin-top: 65px;
  z-index: -1;
}
