.main-nav__wrapper {
  display: none;

  @media #{$not-mobile} {
    display: block;
  }
}

.main-nav__toggle {
  @media #{$not-mobile} {
    display: none;
  }
}

.main-nav__list {
  display: flex;
}

.main-nav__link {
  font-family: $secondary-font;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  color: $basic-blank;
}
