.main-header {
  background-color: #ffffff;

  @media #{$mobile-only} {
    border-bottom: 1px solid #{$line-grey};
  }

  @media #{$not-mobile} {
    display: flex;
    justify-content: space-between;
  }

  @media #{$desktop-only} {
    background-color: transparent;
  }

  &--cat {
    border-bottom: 0;

    --bg-cat-img:
      image-set(
      url("../../images/index-background-phone@1x.jpg") type("image/jpeg") 1x,
      url("../../images/index-background-phone@2x.jpg") type("image/jpeg") 2x);
    --bg-cat-sz: static;
    --bg-cat-pos: center;
    --bg-cat-display: block;
    --bg-cat-w: 100%;
    --bg-cat-h: 302px;
    --bg-cat-z-index: -1;

    @media #{$tablet-only} {
      --bg-cat-display: none;
    }

    @media #{$desktop-only} {
      --bg-cat-img:
        image-set(
          url("../../images/index-background-desktop@1x.jpg") type("image/jpeg") 1x,
          url("../../images/index-background-desktop@2x.jpg") type("image/jpeg") 2x);
      --bg-cat-sz: static;
      --bg-cat-pos: left bottom;
      --bg-cat-top: 0;
      --bg-cat-w: 50%;
      --bg-cat-h: 694px;
      --bg-cat-z-index: -1;
    }

    &::after {
      content: "";
      position: absolute;
      top: var(--bg-cat-top);
      right: 0;
      display: var(--bg-cat-display);
      width: var(--bg-cat-w);
      height: var(--bg-cat-h);
      background: linear-gradient(rgba($accent-color, 0.85) 0%, rgba(#62a440, 0.85) 100%), var(--bg-cat-img), linear-gradient(to right, #535257 0%, #535257 40%, #3e3d42 60%, #3e3d42 100%);
      background-repeat: no-repeat;
      background-size: var(--bg-cat-sz);
      background-position: var(--bg-cat-pos);
      z-index: var(--bg-cat-z-index);
    }
  }
}

.main-header__wrap-logo {
  position: relative;
  width: fit-content;
  padding: 13px 20px 14px;

  @media #{$not-mobile} {
    padding: 0;
  }
}

.main-header__logo-text {
  width: 101px;
  height: 18px;

  @media #{$not-mobile} {
    position: static;
  }

  @media #{$desktop-only} {
    width: 118px;
    height: 21px;
  }
}
