.page {
  height: 100%;
}

.page__body {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  min-height: 100%;
  margin: 0 auto;

  &--noscroll {
    position: fixed;
    overflow-y: scroll;
  }
}

.page__header {
  @media #{$not-mobile} {
    margin-top: 25px;
    padding: 0 30px;
  }

  @media #{$desktop-only} {
    width: 100%;
    max-width: $breakpoint-max-w;
    margin-left: auto;
    margin-right: auto;
    margin-top: 55px;
    padding: 0 110px;
  }
}
